.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 190px 100px auto 50px;
    grid-template-areas:
    "A C C"
    "B C C"
    "B E D"
    "B E ."
    "F F F";
    row-gap: 16px;
    column-gap: 16px;
    background-color: bisque;
    color: black;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    background-color: brown;
    border: 2px solid hsl(289, 13%, 32%);
}
#vak-a {
    grid-area: A;
}
#vak-b {
    grid-area: B;
}
#vak-c {
    grid-area: C;
}
#vak-d {
    grid-area: D;
}
#vak-e {
    grid-area: E;
}
#vak-f {
    grid-area: F;
}
@media screen and (max-width: 576px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto 50px 50px 50px 50px;
        grid-template-areas:
    "A"
    "B"
    "C"
    "D"
    "E"
    "."
    "F";
        row-gap: 16px;
        column-gap: 16px;
        background-color: bisque;
        color: black;
    }
    #test {
        font-size: 30px;
        color:red;
    }
}